Container
.table-container-a {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Header */
.header-as {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  width: 90%;
  margin: auto;

}

.header-as h1 {
  font-size: 24px;
  font-weight: 600;
  color: #333333;
}

.download-button {
  padding: 5px 20px;
  background-color: #ff9900;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.download-button:hover {
  background-color: #e68a00;
}

/* Table */
.products-table-ad {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  border-collapse: collapse;
}

.ac-btns{
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.products-table-ad th,
.products-table-ad td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.products-table-ad th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.products-table-ad tr:hover {
  background-color: #f9f9f9;
}

.products-table-ad td {
  font-size: 14px;
  color: #555555;
}

.profile-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.edit-button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 16px;
}

.edit-button:hover {
  text-decoration: underline;
}

