/* Header Container */
.header {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* position: fixed; */
    z-index: 1000;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
}

/* Logo */
.logo-container {
    flex: 1;
}

.logo {
    height: 120px;
}

/* Navigation Links */
.nav-links {
    flex: 2;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.nav-link {
    text-decoration: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #7c3aed; /* Professional hover color */
}

/* Action Links (Cart and Hamburger) */
.action-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cart-icon {
    position: relative;
    cursor: pointer;
    margin-right: 20px;
}

.cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #073915; /* Red badge */
    color: white;
    font-size: 10px;
    /* font-weight: bold; */
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.hamburger {
    cursor: pointer;
}

/* Mobile Menu */
.mobile-menu {
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 999;
}

.mobile-link {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.mobile-link:hover {
    background-color: #f3f4f6; /* Light gray hover */
}

/* Responsive Styles */
@media (max-width: 728px) {
    .nav-links {
        display: none;
    }
}
